python-dotenv
pandas
numpy
pymongo
certifi
pymongo[srv]
scikit-learn
mlflow
pyaml
dagshub
fastapi
uvicorn
python-multipart




# Core dependencies
streamlit
pandas
numpy

# Machine learning
scikit-learn==1.2.2
xgboost

# Visualization
matplotlib
seaborn

# Utilities
joblib
plotly

# Optional but recommended
python-dotenv
watchdog

# -e .
